/*公共样式*/
body{font-family: 'Microsoft Yahei'; background: #FAFAFA;}
.bg-white{background-color: #fff;}
.container{min-width: 1170px;}
.navbar{margin-bottom: 0}
.nav li{float: left;}
#banner{min-width: 1170px;}
#jineng .wrap {padding: 0 20px; border: 1px solid #ccc; border-radius: 10px;}
#jineng .wrap .img{width: 130px; padding: 20px 0; background: url(../images/item.png) no-repeat ; background-size: 240%; background-position: -117px -75px ;}
#jineng .wrap .img:hover{}

#story .media-body p{padding: 20px;}
#history .media-body p{padding: 20px;}
@media screen and (min-width: 768px) {
	#history .modal-dialog{margin: 200px auto;}
}