/*公共样式*/
.body{
	font-family: 'Microsoft Yahei';
}
.fc{
	clear: both;
}
#ad-carousel{
	margin-top: 51px;
}
#ad-carousel img{
	max-height: 800px;
	margin: auto;
}
#summary-container{
	margin: auto;
	max-width: 1400px;
}
#summary-container .col-md-4{
	margin: 30px 0;
	text-align: center;
}
#summary-container .col-md-4 p{
	padding:10px 20px;
}